QToolBar, QStatusBar {
    border: 2px solid gray;
}
QPushButton, QComboBox, QSpinBox, QLineEdit, QListView {
    border: 2px solid gray;
    background: #ebebeb;
    padding: 1px;
}
QPushButton:hover, QComboBox:hover, QSpinBox:hover, QLineEdit:hover {
    background-color: beige;
}
QSpinBox, QAction {
    padding:0;
}
QToolBar, QStatusBar, QToolButton {
    background-color:#22b14c
}
QMainWindow::separator {
    background: gray;
    width: 2px;
    height: 2px;
}
QToolTip,QMenu {
    color: black;
    background-color: #ebebeb;
    border: 2px solid gray;
    padding: -2px -2px 0px 0px;
}
QMenu::item {
    padding: 1px 25px 2px 20px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: transparent;
}
QMenu::item:selected,QListView::item:selected {
    border-color: gray;
    background: beige;
    color:black;
}

QListView {
    show-decoration-selected: 1;
    padding: -2px -2px -4px -2px;
    outline: none;
}
QListView::item {
    padding: 2px;
    border: 2px solid transparent;
}
QDockWidget {
    color: white;
    font-weight: bold;
}
QDockWidget::title {
    text-align: center;
    background-color:#22b14c;
}
TopicList {
    background-color: #86ce86;
}
