p.res_aa {
    font-family:'ＭＳ Ｐゴシック','MS PGothic',Mona,IPAMonaPGothic;
}
a.raed {
    margin:5px;
    font-style:italic;
    background-color:rgba(0,0,0,0.1)
}
div.popup p{
    color: black !important;
    font-size:16px !important;
    line-height:100% !important;
    font-weight: normal !important;
}

::-webkit-scrollbar {
    width: 12px !important;
}
::-webkit-scrollbar-button {
    border: 2px solid gray !important;
    background-color: #22b14c !important;
}
::-webkit-scrollbar-thumb {
    background-color: #22b14c !important;
}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {
    background-color: beige !important;
}
::-webkit-scrollbar-track-piece {
    background-color: #86ce86 !important;
}
